@{
    ViewBag.Title = "home quote";
    Layout = "_layout";
}

<h2 class="m-4">Welcome Home</h2>

<div class="mx-auto" style="width: 400px;padding-top: 50px;">
    <h4 class="font-weight-normal">This site is a work in progress.</h4>
</div>

